* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}
/*Center page content*/
.centerized{
  padding-left: 5em;
  padding-right: 5em;
}

.badge-pill.active {
    background-color: white;
    color: black;
}
.img {
  position: relative;
  float: left;
  width:  40em;
  height: 30em;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}
a.badge-pill:hover {
    color: white;
}

a.badge-pill.active:hover {
    color: rgb(22, 173, 233);
}

a.badge-pill {
    color: black;
    padding: 0.2em;
    margin: 0.2em 0.4em 0.2em;
    font-size: 1em;
}

ul > li > ul {
  padding: 0em;
}

ul > li > ul li {
  padding: 0em;
}

#Services{
  text-align: center;
}

.services-inline{
    display: inline-block;
    text-align: left;
}

.mr-auto {
    margin: 0.2em;
}

.card-header {
    cursor: pointer;
    background-color: rgb(39, 168, 27);
    color: white;
}


.navbar,
footer {
    background-color: rgb(39, 168, 27);
    text-align: center;
}
.bg-green{
  background-color: rgb(39, 168, 27);
}
/* Styles for the tile of the site*/
.title{
  background-color: rgb(39, 168, 27);
  text-align: center;
  font-size: 10vh;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.card {
    margin: 0.5em;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
#mAt_Parent{
  text-align: center;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

html {
    background-color: black;
}
